@media (min-width: 577px) {
  .dropdown-menu {
    position: absolute !important;
  }

  .nav-item.dropdown {
    position: relative;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    position: static !important;
    width: 50%;
  }
  .navbar-nav {
    display: flex;
    justify-content: flex-start;
  }

  .logout-item {
    margin-left: auto;
  }
}
